<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" 
  package="uts.sdk.modules.xxUtsFloatingPopup">
   <!--创建前台服务权限 必须-->
   <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
		<!--声明浮窗服务 必须-->
	   <service android:name="uts.sdk.modules.xxUtsFloatingPopup.FloatService"  />
    </application>
</manifest>

